<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.christinkcdev.share.shareindia">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShareIndia"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activity.ThirdPartyLibrariesActivity"></activity>
        <activity android:name=".activity.ChangeStoragePathActivity" />
        <activity android:name=".activity.ConnectionManagerActivity" />
        <activity android:name=".activity.ContentSharingActivity" />
        <activity android:name=".activity.ViewTransferActivity" />
        <activity android:name=".activity.FileExplorerActivity" />
        <activity android:name=".activity.ShareActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="genonbeta.intent.action.TREBLESHOT_SEND_TEXT"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".activity.PreferencesActivity" />
        <activity android:name=".activity.WebShareActivity" />
        <activity android:name=".activity.AboutActivity"
            android:theme="@style/Theme.ShareIndia.NoActionBar">
        </activity>
        <activity android:name=".activity.ManageDevicesActivity" />
        <activity android:name=".activity.ChangelogActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.ShareIndia.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.DialogEventReceiver"
            android:process=":transfer" />

        <service
            android:name=".service.CommunicationService"
            android:enabled="true"
            android:label="@string/text_communicationService"
            android:process=":transfer" /> <!-- <service -->
        <!-- android:name=".service.DeviceChooserService" -->
        <!-- android:label="@string/text_chooserTargetService" -->
        <!-- android:permission="android.permission.BIND_CHOOSER_TARGET_SERVICE"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.service.chooser.ChooserTargetService" /> -->
        <!-- </intent-filter> -->
        <!-- </service> -->
        <service android:name=".service.DeviceScannerService">
            <intent-filter>
                <action android:name="genonbeta.intent.action.SCAN_DEVICES" />
                <action android:name="genonbeta.intent.action.ADD_IP" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.WorkerService"
            android:label="@string/text_workerService" />
    </application>

</manifest>